body {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
.overNo-scroll {
  overflow: auto;
  word-wrap: break-word;
}
.overNo {
  overflow: hidden;
}


.topNav {
  background-color: #212121;
}
.sideNavRight {
  background-color: #d5dee0;
  border-left: 1px solid #a9bbc0;
  -webkit-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.75);
}
.sideNavLeft {
  color: #fff;
  background-color: #2e2e2e;
  border-right: 1px solid #17222c;
}
.content {
  background-color: #ECF0F1;
}
