
  <div class="card card-1 mx-5" style="width: 20rem;">
    <form class="card-body text-center" method="POST">

      <input class="form-control mt-2 text-center" name="uname" type="text" aria-label="uname" placeholder="username">
      <input class="form-control mt-2 text-center" name="pwd" type="password" aria-label="pwd" placeholder="password" required>
      <hr>
      <button class="btn btn-outline-primary" type="submit"><%- title %></button>

    </form>
  </div>
