<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">


      <% var anime = ["wobble", "jello", "pulse", "rubberBand", "jackInTheBox", "lightSpeedIn", "tada"]; %>
        <% var animeRandom = anime[Math.floor(Math.random()*anime.length)]; %>

      <h1 class="display-2">
        <i id="iconSum" class="twa twa-heart pulse animated slow infinite delay-2s"></i>
      </h1>

      <%- include('../expense/chart0') -%>

    </div>
  </div>
</div>
