
  <form class="w-100" name="search" method="post" action="/search">
    <div class="input-group h-100">
      <div class="input-group-prepend card-1">

        <button class="btn btn-outline-primary dropdown-toggle"
          type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="stroke-fuchsia fas fa-2x fa-rocket fa-flip-horizontal mr-0 ml-0 text-danger"></i>
        </button>

        <div class="dropdown-menu px-0 py-0 card-1">
          <a href="/user" class="dropdown-item card-1 py-3">
            <li class="d-flex justify-content-between align-items-center">
              User <i class="text-warning fas fa-user-ninja"></i>
            </li>
          </a>
          <a href="/statement" class="dropdown-item card-1 py-3">
            <li class="d-flex justify-content-between align-items-center">
              Statement <i class="text-danger fas fa-dollar-sign"></i>
            </li>
          </a>
          <a href="/category" class="dropdown-item card-1 py-3">
            <li class="d-flex justify-content-between align-items-center">
              Category <i class="text-success fas fa-tags"></i>
            </li>
          </a>
          <a href="/logout" class="dropdown-item card-1 py-3">
            <li class="d-flex justify-content-between align-items-center">
              logout <i class="text-info fas fa-sign-out-alt"></i>
            </li>
          </a>
        </div>

      </div>
      <input type="text" class="form-control form-control-lg card-1 bg-dark btn-outline-info text-light text-center card-1"
        placeholder="search for something clever" name="search" >
      <div class="input-group-append card-1">
        <button type="submit" class="btn btn-outline-primary btn-block text-light">
          <i class="fas fa-2x fa-search"></i>
        </button>
      </div>
    </div>
  </form>
