<%- include('../../layout/head') -%>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <%- include('authInfo/login') -%>
  </div>
</div>

<%- include('../../layout/foot') -%>
