<%- include('../../layout/head') -%>
  
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <% if ( pageInfo.pageOption == "login") { %>
      <%- include('authInfo/login') -%>
    <% } %>
    <% if ( pageInfo.pageOption == "register") { %>
      <%- include('authInfo/register') -%>
    <% } %>
  </div>
</div>

<%- include('../../layout/foot') -%>
