
  <div class="card card-1 p-4" style="">
    <h1 class="display-1"> Budge
      <span style="font-size: 5rem;" class="text-danger">
        <i class="fas fa-rocket fa-flip-horizontal fa-xs"></i>
      </span>
      t
    </h1>

    <form class="card-body text-center" method="POST">

      <input class="form-control mt-2 text-center" name="uname" type="text" aria-label="uname" placeholder="username">
      <input class="form-control mt-2 text-center" name="pwd" type="password" aria-label="pwd" placeholder="password" required>
      <hr>
      <button class="btn btn-outline-primary" type="submit"><%- title %></button>

    </form>
  </div>
