<button id="btnGroupDrop1" type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fas fa-ellipsis-v"></i>
</button>
<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
  <a class="dropdown-item" href="/user">User</a>
  <a class="dropdown-item" href="/transaction">Transaction</a>
  <a class="dropdown-item" href="/category">Category</a>
  <a class="dropdown-item" href="/logout">Logout</a>
</div>
