  <!-- Nav bar -->
  <nav class="navbar navbar-dark bg-dark">
    <% if(pageInfo.sessionName){ %>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse" data-target="#navBarDropdown"
            aria-controls="navBarDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="btn-group">
       <button class="btn btn-outline-danger"
              type="button"
              data-toggle="modal" data-target="#navBarUser">
           <%- pageInfo.sessionName %>
      </button>
      <a class="btn btn-outline-primary" href="/logout">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </div>
    <% } else { %>
      <a class="btn btn-outline-primary" href="/">
         Session - NOT WORKING
      </a>
    <% } %>
  </nav>

  <!-- Search bar -->
  <div class="collapse bg-dark" id="navBarDropdown">
    <div class="col-md-10 pb-2 pt-2">

      <div class="">
          <a class="text-white display-3">Bling Blaw</a>
          <a class="btn btn-link" href="/"> <i class="fas fa-home"></i> Home</a>
          <a class="btn btn-link" href="/user"> <i class="fas fa-table"></i> User</a>
          <a class="btn btn-link" href="/transaction"> <i class="far fa-kiss-wink-heart"></i> Transaction</a>
      </div>

      <div class="">
        <a class="text-secondary display-4">Search</a>
        <div class="input-group px-0 mx-0">
          <input type="text"
                  class="form-control input-1 col-md-7"
                  placeholder="Something clever..">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-danger" type="button">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- User info -->
  <div class="container">
    <div class="modal fade" id="navBarUser">
      <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content card-1">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><%- pageInfo.title %> </h4>
          </div>
          <!-- Modal body -->
          <div class="modal-body text-center">
            <i class="fas fa-fire text-danger display-1 "></i>
            <code class="display-3"><%- pageInfo.sessionName %></code>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>

      </div>
    </div>
  </div>
