<!-- page Info -->
<div class="modal fade" id="pageInfo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="btn btn-danger btn-block p-2" data-dismiss="modal"> </div>
      <div class="modal-header">
        <h1 class="modal-title display-4 text-info">Page info</h1>
      </div>

      <div class="modal-body container">
        <p class="alert alert-danger">pageInfo:
          <code><%- JSON.stringify(pageInfo) %></code>
        </p>
        <p class="alert alert-info">dataCat:
          <code><%- JSON.stringify(dataCat) %></code>
        </p>
        <p class="alert alert-primary">dataSta:
          <code><%- JSON.stringify(data) %></code>
        </p>
      </div>

    </div>
  </div>
</div>

<!-- statement Add Modal -->
<div class="modal fade" id="catAddD" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content ">

      <div class="btn btn-danger btn-block p-2" data-dismiss="modal"> </div>
      <div class="modal-header">
        <h1 class="modal-title display-4 text-info"><%- pageInfo.title %></h1>
      </div>
      <div class="modal-body p-4">

        <form action="/statement/review" method="post" enctype="multipart/form-data">
          <div class="container">
            <div class="row">

              <div class="col-md-6 card-1 p-4">
                <div class="col p-1">
                  <div class="form-group">
                    <label for="statementName">name</label>
                    <input type="text" class="form-control"
                    name="statementName" id="statementName" required>
                  </div>
                  <div class="form-group">
                    <label for="statementType">type</label>
                    <select class="custom-select"
                      name="statementType" id="statementType" aria-label="Example select with button addon">
                      <option selected>Choose...</option>
                      <option value="credit">Credit Card</option>
                      <option value="debit">Debit</option>
                      <option value="saving">Saving</option>
                    </select>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <label for="statementFile">Statement file <code>.csv</code></label>
                  <div class="custom-file" id="statementFile">
                    <input type="file"
                    class="custom-file-input"
                    name="statementFileInput" id="statementFileInput" aria-describedby="fileHelp" required>
                    <label class="custom-file-label" for="statementFileInput">
                       Select file...
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col card-1 p-4">
                  <div class="form-group">
                    <label for="statementDesc">Comments</label>
                    <textarea class="form-control" rows="3" name="statementDesc" id="statementDesc"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="statementDate" class="col col-form-label">Statement date</label>
                    <input type="month" class="form-control" name="statementDate" id="statementDate" />
                  </div>
                </div>
                <div class="p-4">
                  <div class="text-center">
                    <div class="btn-group" role="group">
                      <button class="btn btn-lg btn-outline-primary">upload</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
