<h3 class="text-center display-5">summary <small> <%- pageInfo.title %></small></h3>
<hr>
<!-- pie chart canvas element -->
<canvas id="polar-chart" width="400" height="400"></canvas>
<!-- bar chart canvas element -->
<script>

  // pie chart data
  new Chart(document.getElementById("polar-chart"), {
      type: 'polarArea',
      data: {
        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
        datasets: [
          {
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [3,5,8,2,5]
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Predicted world population (millions) in 2050'
        }
      }
  });
</script>
