<!-- Sidebar  -->
<nav id="sidebar" class="z-front h-100 card-1">
  <div class="row scrollYes h-100 py-5">
  <div id="dismiss"><i class="fas fa-arrow-left"></i></div>

  <div class="h-100 container">
    <div class="container">
      <h1 class="display-4"><%- pageInfo.page %></h1>
      <h1 class="display-5 text-center"><small><%- pageInfo.title %></small></h1>

      <div class="container text-center py-4">


        <svg height="500"></svg>
        <script>
        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height"),
            angles = d3.range(0, 2 * Math.PI, Math.PI / 200);
        var path = svg.append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
            .attr("fill", "none")
            .attr("stroke-width", 10)
            .attr("stroke-linejoin", "round")
          .selectAll("path")
          .data(["cyan", "magenta", "yellow"])
          .enter().append("path")
            .attr("stroke", function(d) { return d; })
            .style("mix-blend-mode", "darken")
            .datum(function(d, i) {
              return d3.radialLine()
                  .curve(d3.curveLinearClosed)
                  .angle(function(a) { return a; })
                  .radius(function(a) {
                    var t = d3.now() / 1000;
                    return 200 + Math.cos(a * 8 - i * 2 * Math.PI / 3 + t) * Math.pow((1 + Math.cos(a - t)) / 2, 3) * 32;
                  });
            });
        d3.timer(function() {
          path.attr("d", function(d) {
            return d(angles);
          });
        });
        </script>

        <i class="twa twa-4x twa-hatching-chick"></i>
        <i class="twa twa-4x twa-heart"></i>
        <i class="twa twa-4x twa-sparkles"></i>
        <i class="twa twa-4x twa-boom"></i>
        <i class="twa twa-4x twa-fire"></i>
        <i class="twa twa-4x twa-peach"></i>
        <i class="twa twa-4x twa-dog"></i>
        <i class="twa twa-4x twa-icecream"></i>
        <i class="twa twa-4x twa-corn"></i>
        <i class="twa twa-4x twa-beer"></i>
        <i class="twa twa-4x twa-sushi"></i>
        <i class="twa twa-4x twa-key"></i>
        <i class="twa twa-4x twa-maple-leaf"></i>
        <i class="twa twa-4x twa-four-leaf-clover"></i>
        <i class="twa twa-4x twa-panda-face"></i>
      </div>

    </div>
  </div>

  </div>
</nav>
