<!-- Sidebar  -->
<nav id="sidebar" class="z-front h-100 card-1">
  <div class="row scrollYes h-100 py-5">
  <div id="dismiss"><i class="fas fa-arrow-left"></i></div>

  <div class="h-100 container">
    <div class="container">
      <h1 class="display-4"><%- pageInfo.page %></h1>
      <h1 class="display-5"><small><%- pageInfo.title %></small></h1>

      <div class="container">
        <form>
          <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  </div>
</nav>
