<div class="scrollYes h-100">
<table class="table card-1 container">
  <thead class="sticky-top thead-dark">
    <tr>
      <th><i class="fas fa-1x fa-piggy-bank text-neon text-light"></i></th>
      <th>past</th>
      <th>present</th>
      <th>gain</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Income</td>
      <td class="text-">$ 1100</td>
      <td class="text-success">$ 1200</td>
      <td class="text-success"> 2.5 %</td>
    </tr>
    <tr>
      <td>Expense</td>
      <td class="text-">$ 1100</td>
      <td class="text-danger">$ 1300</td>
      <td class="text-danger"> 5.5 %</td>
    </tr>
    <tr>
      <td>just for <code>fun</code></td>
      <td class="text-">$ 1100</td>
      <td class="text-warning">$ 1700</td>
      <td class="text-success"> 1.5 %</td>
    </tr>
    <tr>
      <td>Immediate Obligations</td>
      <td class="text-">$ 600</td>
      <td class="text-warning">$ 700</td>
      <td class="text-warning"> 1.5 %</td>
    </tr>
    <tr>
      <td>True Expenses</td>
      <td class="text-">$ 1100</td>
      <td class="text-warning">$ 1700</td>
      <td class="text-success"> 1.5 %</td>
    </tr>
    <tr>
      <td>Debt Payments</td>
      <td class="text-">$ 1500</td>
      <td class="text-warning">$ 1100</td>
      <td class="text-success"> 1.5 %</td>
    </tr>
    <tr>
      <td>Hobby</td>
      <td class="text-">$ 10</td>
      <td class="text-warning">$ 100</td>
      <td class="text-success"> 1 %</td>
    </tr>
  </tbody>
</table>
</div>
