<div class="scrollNo h-100 container">
  <div class="row h-75">

    <div class="col-12 text-center row h-75 justify-content-center align-items-center">
      <% var anime = ["wobble", "jello", "pulse", "rubberBand", "jackInTheBox", "lightSpeedIn", "tada"]; %>
        <% var animeRandom = anime[Math.floor(Math.random()*anime.length)]; %>
          <h1 class="display-2">
        <i id="iconSum" class="twa twa-heart pulse animated slow infinite delay-2s"></i>
      </h1>
    </div>

    <div class="col" ng-show="show=='no'" ng-mouseover="show='yes'" ng-init="show='no'">
      <h1 class="display-4 font-20 text-center">#bling #blaw #burr </h1>
    </div>

    <form id="statement" class="col animated fadeIn text-center"
      ng-show="show=='yes'" method="post"
      action="/statement/review">
      <div class="input-group input-group-lg">

        <select class="form-control form-control-lg card-1 custom-select" name="statement">
           <option value="default">Statements</option>
           <% for (sta in dataSta){ %>
          <option value="<%- dataSta[sta].statement_id %>">
            <%- dataSta[sta].statementType %> - <%- dataSta[sta].statementName %> - <%- dataSta[sta].statementDate %>
          </option>
          <% } %>
        </select>

        <div class="input-group-append">
          <button form="statement" class="btn btn-outline-primary card-1 text-danger"><i class="fas fa-angle-double-right"></i></button>
        </div>
      </div>
    </form>

  </div>
</div>
