<% if (messages.flashData) { %>
  <h6 class="d-inline">
    <span class="text-<%- messages.flashData[0].bgColor %>">
      <%- messages.flashData[0].pageMesage %>
      <%- messages.flashData[0].bgColor %>
    </span>
  </h6>
<% } %>
