<!-- Sidebar  -->
<nav id="sidebar" class="z-front h-100 card-1">
  <div class="row scrollYes h-100 py-5">
  <div id="dismiss"><i class="fas fa-arrow-left"></i></div>

  <div class="h-100 container">
    <div class="container">
      <h1 class="display-4"><%- pageInfo.page %></h1>
      <h1 class="display-5 text-center"><small><%- pageInfo.title %></small></h1>

      <div class="container text-center py-4">
        <i class="twa twa-4x twa-hatching-chick"></i>
        <i class="twa twa-4x twa-heart"></i>
        <i class="twa twa-4x twa-sparkles"></i>
        <i class="twa twa-4x twa-maple-leaf"></i>
        <i class="twa twa-4x twa-boom"></i>
        <i class="twa twa-4x twa-fire"></i>
        <i class="twa twa-4x twa-peach"></i>
        <i class="twa twa-4x twa-dog"></i>
        <i class="twa twa-4x twa-icecream"></i>
        <i class="twa twa-4x twa-corn"></i>
        <i class="twa twa-4x twa-beer"></i>
        <i class="twa twa-4x twa-sushi"></i>
        <i class="twa twa-4x twa-key"></i>
        <i class="twa twa-4x twa-four-leaf-clover"></i>
        <i class="twa twa-4x twa-panda-face"></i>
      </div>

    </div>
  </div>

  </div>
</nav>
