<h3 class="text-center display-5">summary <small> <%- pageInfo.title %></small></h3>
<hr>

<!-- pie chart canvas element -->
<canvas id="myChart" width="400" height="400"></canvas>
<script>

  new Chart(document.getElementById("myChart"), {
      type: 'pie',
      data: {
        labels: <%- JSON.stringify(chartInfo.chartData.label) %>,
        datasets: [{
          label: "Category and subcategory",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#f442d9"],
          data: [<%= chartInfo.chartData.dataValue %>]
        }]
      },
      options: {
        title: {
          display: true,
          text: '<%= chartInfo.chartName %>'
        }
      }
  });

</script>
