<!-- page Info -->
<div class="modal fade" id="pageInfo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class=" btn-danger py-2" data-dismiss="modal"> </div>
      <div class="modal-header">
        <h1 class="modal-title display-4 text-info">Page info</h1>
      </div>

      <div class="modal-body container">
        <p>pageInfo:
          <code><%- JSON.stringify(pageInfo) %></code>
        </p>
        <p>User data:
          <code><%- JSON.stringify(data) %></code>
        </p>
      </div>

    </div>
  </div>
</div>

<!-- user Add Modal -->
<div class="modal fade" id="userAddD" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class=" btn-danger py-2" data-dismiss="modal"> </div>
      <div class="modal-header">
        <h1 class="modal-title display-4 text-info"><%- pageInfo.title %></h1>
      </div>
      <div class="modal-body text-center">
        <form class="row" name="adduser" method="post" action="/user/add">
          <div class="container">
            <div class="input-group py-2">
              <div class="input-group-prepend">
                <span class="input-group-text">DB collections name</span>
              </div>
              <input type="text" class="form-control form-control-lg" placeholder="fannyPack-blingBlaw" name="fannyPack" required>
            </div>
            <hr>
            <div class="input-group py-2">
              <div class="input-group-prepend">
                <span class="input-group-text">username</span>
              </div>
              <input type="text" class="form-control form-control-lg" placeholder="username" name="username" required>
            </div>
            <div class="input-group py-2">
              <div class="input-group-prepend">
                <span class="input-group-text">password</span>
              </div>
              <input type="text" class="form-control form-control-lg" placeholder="password" name="pwd" required>
            </div>
            <hr>
            <button class="btn btn-outline-primary" type="submit">Register</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
