

<nav class="navbar ">

  <a href="/" class="btn btn-danger"> <i class="fas fa-home"></i> </a>
  <a href="/view" class="btn btn-danger"> <i class="fas fa-table"></i> </a>
  <a href="/logout" class="btn btn-danger"> <i class="fas fa-sign-in-alt"></i> </a>

</nav>
