<form class="" name="adduser" method="post" action="/user">

  <input type="text" name="username" placeholder="user"
    class="form-control form-control-lg" required>
  <input type="text" name="useremail" placeholder="password"
    class="form-control form-control-lg  mt-3 mb-3" required>

  <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
</form>
