<div class="container h-100 scrollNo">
  <div class="row h-45">
    <div class="col-6 h-100">
      <%- include('dashboard/info') -%>
    </div>
    <div class="col-6 h-100">
      <%- include('dashboard/budget') -%>
    </div>
  </div>
  <div class="row h-50">
    <div class="col-12 h-75">
      <%- include('dashboard/nada') -%>
    </div>
  </div>
</div>
