
  <!-- Right Nav container -->
  <div class="overFlow-yes w-100 h-100">

    <div class="container h-75 overFlow-yes card-1">
      <code class="text-center word-break">
asd
      </code>
    </div>

  </div>
