
<form class="row" name="adduser" method="post" action="/user/add">

    <div class="col-md-6 col-sm-12">
      <h1 class="display-5 text-info"><%- pageInfo.page %></h1>
    </div>

    <div class="col-md-6 col-sm-12  h-100">
      <div class="input-group h-100">

        <input type="text" class="form-control form-control-lg card-1"
          placeholder="username" name="username" required>
        <input type="text" class="form-control col card-1"
          placeholder="password" name="pwd" required>

        <div class="input-group-append card-1">
          <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
        </div>

      </div>
    </div>
    <hr>

</form>
<hr>
