<div class="container">
  <div class="row">
    <div class="col-6">
      <%- include('budget/budgetInfo') -%>
    </div>
    <div class="col-6">
      <%- include('budget/budgetSummary') -%>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <%- include('expense/chart2') -%>
    </div>
  </div>
</div>
