
<div class="container">
  <div class="row">
    <div class="col-6">
      <%- include('budget/budgetInfo') -%>
      <h4 class="display-6"> Expense </h4>
      <hr>
      <%- include('expense/chart0') -%>
    </div>
    <div class="col-6">
      <%- include('budget/budgetSummary') -%>
      <%- include('expense/chart1') -%>
    </div>
  </div>
</div>
