
<form class="" name="addcat" method="post" action="/category">

  <input name="catName"
    type="text" placeholder="category name"
    class="form-control form-control-lg" required>

  <select class="form-control form-control-lg custom-select mt-3 mb-3"
    name="catParent">
    <option value="root">category (new)</option>
    <% for(var i=0; i < categoryInfo.length; i++) { %>
      <% if (categoryInfo[i].catParent == "root") { %>
    <option value="<%= categoryInfo[i]._id %>">
      <%= categoryInfo[i].catName %>
    </option>
      <% } %>
    <% } %>
  </select>

  <button type="submit" class="btn btn-outline-primary btn-block">Add</button>

</form>
