
<form class="input-group input-group-lg" name="addcat" method="post" action="/category">

  <div class="input-group-prepend">
    <span class="input-group-text">Add category</span>
  </div>

  <input name="catName"
    type="text" placeholder="category name"
    class="form-control" required>
  <select class="form-control form-control-lg custom-select"
    name="catParent">
    <option value="root">category (new)</option>
    <% for(var i=0; i < categoryInfo.length; i++) { %>
      <% if (categoryInfo[i].catParent == "root") { %>
    <option value="<%= categoryInfo[i]._id %>">
      <%= categoryInfo[i].catName %>
    </option>
      <% } %>
    <% } %>
  </select>

  <div class="input-group-append">
    <button type="submit" class="btn btn-outline-primary">Add</button>
    <%- include('../layout/nav') -%>
  </div>

</form>
