
<form class="row" name="addcat" method="post" action="/category">

    <div class="col-md-6 col-sm-12">
      <h1 class="display-5 text-info"><%- pageInfo.page %></h1>
    </div>

    <div class="col-md-6 col-sm-12  h-100">
      <div class="input-group h-100">

        <input type="text" class="form-control form-control-lg card-1"
          placeholder="category name" name="catName" required>

        <select class="form-control form-control-lg custom-select card-1"
          name="catParent">
          <option value="root">category (new)</option>
          <% for(var i=0; i < categoryInfo.length; i++) { %>
            <% if (categoryInfo[i].catParent == "root") { %>
          <option value="<%= categoryInfo[i]._id %>">
            <%= categoryInfo[i].catName %>
          </option>
            <% } %>
          <% } %>
        </select>

        <div class="input-group-append card-1">
          <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
        </div>

      </div>
    </div>
    <hr>

</form>
<hr>
