
<!-- Right Nav container -->
<div class="overFlow-no h-100 bg-dark">

  <div class="col">
    <h4 class="display-4 text-light">Raw data </h4>
    <hr>
  </div>

  <div class="container h-75 overFlow-yes card-1 bg-light">
    <code class="text-center word-break">
      <p>
        <%- JSON.stringify(categoryInfo) -%>
      </p>
    </code>
  </div>

</div>
